@use "sass:math";

// Breakpoints, dimension, container, row, column, v.v
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
);
$grid-columns: 12;
$grid-gutter-width: 30px;

%gutter-padding {
    padding-left: $grid-gutter-width * 0.5;
    padding-right: $grid-gutter-width * 0.5;
}

.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @extend %gutter-padding;
}

.container {
    @extend .container-fluid;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gutter-width * 0.5;
    margin-right: -$grid-gutter-width * 0.5;

    [class*="col-"] {
        flex: 0 0 auto;
        @extend %gutter-padding;
    }
}

.col {
    flex: 1 0;
    @extend %gutter-padding;
}

@mixin make-media-query($dimension, $bypass: false) {
    @if $bypass {
        @content;
    } @else {
        @media (min-width: $dimension) {
            @content;
        }
    }
}

@each $breakpoint, $dimension in $grid-breakpoints {
    $max-width: map-get($container-max-widths, $breakpoint);
    $infix: if($breakpoint == xs, "", "-#{$breakpoint}");

    @include make-media-query($dimension, $breakpoint == xs) {
        .container {
            max-width: $max-width;
        }

        @for $i from 1 through $grid-columns {
            .col#{$infix}-#{$i} {
                width: math.div(100%, $grid-columns) * $i;
            }
        }
    }
}
